<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="d-flex pointer">
            <i [routerLink]="'/home'" class="fa-solid fa-house" style="color: #ffffff;"></i>
        </div>
        <div class="w-100 d-flex justify-content-center">
            <h4>Formulario de creacion</h4>
        </div>
    </mat-toolbar-row>
</mat-toolbar>


<div [ngClass]="{'centered-content mt-4': idEditVendedor, 'centered-content mt-9': !idEditVendedor}" >
    <div class="content d-flex justify-content-center">
        <form [formGroup]="myForm">
            <div class="row" *ngIf="idEditVendedor">
                <div class="col-md-12 d-flex justify-content-center">
                    <div class="image-upload-container">
                        <input type="file" (change)="onFileChange($event)" />
                        <img *ngIf="imageUrl" [src]="imageUrl" alt="Uploaded Image" class="uploaded-image"
                            style="border-radius: 115px;width: 92px;" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 d-flex justify-content-center">
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="nombre" />
                    </mat-form-field>
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Usuario Login</mat-label>
                        <input matInput formControlName="usuarioLogin" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 d-flex justify-content-center">
                    <mat-form-field appearance="outline" color="primary" id="select-container">
                        <mat-label color="primary">Localidad</mat-label>
                        <mat-select name="food" formControlName="localidadId">
                            <mat-option *ngFor="let localidad of localidades" [value]="localidad.id">
                                <span>{{ localidad.localidad }}</span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                    <mat-form-field appearance="outline" style="height: 82px;width: 214px;">
                        <mat-label>Fecha Nacimiento</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento" matInput>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="myForm.get('fechaNacimiento')?.hasError('required')">La fecha de nacimiento es
                            obligatoria</mat-error>
                        <mat-error *ngIf="myForm.get('fechaNacimiento')?.hasError('rangoEdadInvalido')">La fecha de
                            nacimiento debe estar entre 18 y 65 años</mat-error>

                    </mat-form-field>
                </div>

            </div>
            <div class="row d-flex justify-content-center">
                <div class=" d-flex justify-content-center slider">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Textarea</mat-label>
                        <textarea matInput formControlName="observaciones"></textarea>
                    </mat-form-field>
                    <p *ngIf="slideToggleValue">Habilitado a operar</p>
                    <p *ngIf="!slideToggleValue">No habilitado a operar</p>
                    <mat-slide-toggle (change)="onSlideToggleChange($event)">
                    </mat-slide-toggle>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <div class="" style="display: flex;justify-content: space-around;">
                        <div class="back">
                            <button mat-flat-button color="primary" [routerLink]="'/listado'">Volver</button>
                        </div>
                        <div>
                            <button *ngIf="!idEditVendedor else editButton" mat-flat-button color="primary" [disabled]="!myForm.valid"
                                (click)="enviarFormulario()">Enviar</button>
                                <ng-template #editButton>
                                    <button *ngIf="idEditVendedor" mat-flat-button color="primary" [disabled]="!myForm.valid"
                                    (click)="editarFormulario()">Editar</button>
                                </ng-template>                       
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>