<div class="home">
    <div>
        <div class="mb-5 text-center border-container">
            <a class="link-fx fw-bold fs-1">
                <span style="cursor: default;" class="text-secondary">Eiv Software</span>
            </a>
        </div>
        <div class="text-center">
            <button [routerLink]="'/listado'" class="w-100" mat-raised-button color="primary">
                Listado de vendedores <i class="fa-solid fa-angles-right"></i>
            </button>
        </div>
    </div>
</div>